body {
    /* background: url("/img/achtergrond1.jpg") no-repeat center center fixed; */
    background-color: aliceblue;
    /* background-size: cover; */
}

.fout {
    display: none;
    color: white;
    background-color: darkred;
    font-size: 0.8em;
    font-weight: bold;
}

.modal-dialog {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 500px;
    height: 300px;
}

#printstatus{
    font-weight: bold;
}

a{
    cursor: pointer;
}